// general
html {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: $black;

  &:active, &:focus, &:hover {
    color: $black;
  }
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: $black;
  background-image: url('../images/back.png');
  background-repeat: repeat;
  overflow-x: hidden;

  &.overflow {
    overflow: hidden;
  }

  .container {
    max-width: 141rem;
    margin: 0 auto;
    padding: 0 5rem;
  }
}

ul {
  list-style: none;
}

p {
  margin: 0 0 2.5rem 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 100vw  / (1920/10);

  &::-webkit-scrollbar {
    display: none;
  }
}

button, .link {
  background: $black;
  color: $white;
  border: 1px solid $black;
  border-radius: 1px;
  height: 5.5rem;
  width: 100%;
  max-width: 25.3rem;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;

  &:after {
    content: '';
    height: 1.4rem;
    width: 1.4rem;
    background-image: url('../images/icons/arrow.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1.5rem;
  }

  &.border {
    color: $black;
    background: transparent;

    &:after {
      display: none;
    }
  }

  &.yellow {
    background: $yellow;
    color: $black;

    &:after {
      background-image: url('../images/icons/arrow-black.svg');
    }
  }

  &.black {
    color: $black;
    background: $white;

    &:after {
      background-image: url('../images/icons/arrow-black.svg');
    }
  }

  &.border-white {
    background: transparent;
    border: 1px solid $white;
  }

  &.border-none {
    border: none;
  }
}

.logo {
  width: 11.1rem;
  height: 2.7rem;
  display: block;
  position: relative;
  z-index: 99;

  &__svg {
    width: 100%;
    height: 100%;

    &_white {
      path {
        fill: $white;
      }
    }

    &_black {
      path {
        fill: $black;
      }
    }
  }
}

h1 {
  font-weight: 700;
  font-size: 6.8rem;
  line-height: 8.8rem;
  max-width: 74rem;
}

h2 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6.2rem;
}

h3 {
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 4.4rem;
}

.ellipse {
  position: absolute;
  background: #68C7F2;
  opacity: 0.3;
  filter: blur(205px);
}

.text-center {
  text-align: center;
}

.border-none {
  border: none;
}

.circle {
  position: absolute;
  opacity: 0.3;
  filter: blur(205px);
  z-index: 1;
  background: $blue;

  &_purple {
    background: $purple;
  }
}

.content {
  &__list {
    border-bottom: 1px solid $black;
    margin-top: 4.8rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5.4rem 0;
    border-top: 1px solid $black;
  }

  &__subtitle {
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;

    &_circle {
      display: flex;
      align-items: center;

      &:before {
        content: '';
        width: .9rem;
        height: .9rem;
        background: $grey-light;
        border-radius: 50%;
        margin-left: 2.3rem;
        margin-right: 2.4rem;
        display: block;
      }
    }
  }

  &__text {
    max-width: 36.3rem;
  }

  &__icon {
    background: $black;
    border-radius: 50%;
    width: 6.4rem;
    height: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    height: 2.2rem;
    width: 1.5rem;
  }

  @media only screen and (max-width: $small-mobile) {
    &__list {
      margin-top: 3.4rem;
    }
    &__item {
      padding: 4rem 0;
    }

    &__subtitle {
      font-size: 1.8rem;
      line-height: 2.3rem;
      margin-bottom: 1.3rem;
      justify-content: flex-start;

      &_circle:before {
        margin: 0 1.5rem;
      }
    }

    &__texts {
      max-width: 25.6rem;
    }

    &__icon {
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  @media only screen and (max-width: $tiny-mobile) {
    &__list {
      margin-top: 2.6rem;
    }
    &__item {
      padding: 3.1rem 0;
    }

    &__subtitle {
      font-size: 1.3rem;
      line-height: 1.7rem;
      margin-bottom: .9rem;

      &_circle:before {
        margin: 0 1.1rem;
        height: .7rem;
        width: .7rem;
      }
    }

    &__texts {
      max-width: 19rem;
    }

    &__icon {
      width: 3.6rem;
      height: 3.6rem;
    }

    &__svg {
      width: 1.1rem;
      height: 1.1rem;
    }
  }
}

.card {
  background: $white;
  box-shadow: 0px 36px 47px -18px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 3.9rem 1.8rem 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__icon {
    width: 5.7rem;
    height: 5.7rem;
    background: $blue;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    width: 2.4rem;
    height: 2.4rem;

    &_big-width {
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  &__subtitle {
    margin: 2.6rem 0 1.2rem;
    font-weight: 600;
    font-size: 2.0rem;
    line-height: 2.6rem;

    &_big {
      margin-right: -1.8rem;
    }
  }
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000000;

  &:hover {
    .video__button-shape {
      fill: #ff0000;
      fill-opacity: 1;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 68px;
    height: 48px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer;

    &:focus .video__button-shape {
      fill: #ff0000;
      fill-opacity: 1;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  &__button-shape {
    fill: #212121;
    fill-opacity: 0.8;
  }

  &__button-icon {
    fill: #ffffff;
  }

  &__button:focus {
    outline: none;
  }

  &--enabled {
    cursor: pointer;
  }

  &--enabled &__button {
    display: block;
  }
}

label {
  font-size: 1.4rem;
  line-height: 1.8rem;
  display: flex;
  margin-bottom: 1rem;

  &:after {
    content: '*';
    color: $red;
    margin-left: 1rem;
  }

  &.optional {
    &:after {
      content: '';
    }
  }

  &.error {
    margin-top: 3px;
    color: $red;
    text-align: left;

    &:after {
      content: '';
    }
  }
}

input {
  background: transparent;
  border: 1px solid $black;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: $black;
  height: 5.5rem;
  padding: 2rem 2.2rem;
  width: 100%;
}

::-moz-placeholder {
  font-weight: normal;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #B1B1B1;
}

:-moz-placeholder {
  font-weight: normal;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #B1B1B1;

}

:-ms-input-placeholder {
  font-weight: normal;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #B1B1B1;

}

::-webkit-input-placeholder {
  font-weight: normal;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #B1B1B1;

}

@media only screen and (max-width: $large-desktop) {
  html {
    font-size: 100vw / (1600/10);
  }
}

@media only screen and (max-width: $small-desktop) {
  body {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: $large-tablet) {
  html {
    font-size: 100vw / (1024/10);
  }
  body {
    font-size: 1.6rem;
  }
  main {
    overflow: hidden;
  }
}

@media only screen and (max-width: $small-tablet) {
  html {
    font-size: 100vw / (744/10);
  }
  h1 {
    font-size: 4.8rem;
    line-height: 6.2rem;
  }
  h2 {
    font-size: 3.4rem;
    line-height: 4.4rem;
  }
}

@media only screen and (max-width: $large-mobile) {
  html {
    font-size: 100vw / (700/10);
  }
  body .container {
    padding: 0 3.5rem;
  }
}

@media only screen and (max-width: $small-mobile) {
  html {
    font-size: 100vw / (428/10);
  }
  body .container {
    padding: 0 1.4rem;
  }
  h1 {
    font-size: 3.4rem;
    line-height: 4.4rem;
    text-align: center;
    margin: auto;
  }
  h2, h3 {
    font-size: 2.4rem;
    line-height: 3.1rem;
  }
}

@media only screen and (max-width: $tiny-mobile) {
  html {
    font-size: 100vw / (320/10);
  }
  body {
    font-size: 1.3rem;
    line-height: 1.7rem;

    .container {
      padding: 0 1.1rem;
    }
  }
  button, .link {
    height: 4.1rem;
    max-width: 18.9rem;

    &:after {
      height: 1rem;
      width: 1rem;
      margin-left: 1.4rem;
    }
  }
  label {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: .7rem;
  }
  input {
    height: 4.1rem;
  }
  h1 {
    font-size: 2.4rem;
    line-height: 3.1rem;
  }
  h2, h3 {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
}