$black: #282C2F;
$white: #FFFFFF;
$blue: #68C7F2;
$purple: #AD96F3;
$grey-light: #BFBFBF;


// media
$large-desktop: 1440px;
$small-desktop: 1280px;

$large-tablet: 1024px;
$small-tablet: 744px;

$large-mobile: 580px;
$small-mobile: 428px;
$tiny-mobile: 320px;