.main-franchise {
  position: relative;

  &__circle {
    &_left {
      left: -42.7rem;
      top: -31.5rem;
      width: 85.3rem;
      height: 85.3rem;
      opacity: 0.15;

      &_purple {
        width: 38rem;
        height: 38rem;
        left: 3.3rem;
        top: 31rem;
        z-index: 2;
        opacity: 0.15;
      }
    }

    &_right {
      right: 9.7rem;
      top: 29.2rem;
      width: 26.1rem;
      height: 26.1rem;
      opacity: 0.15;

      &_purple {
        width: 52.8rem;
        height: 52.8rem;
        right: -21.4rem;
        top: 35rem;
        z-index: 2;
        opacity: 0.15;
      }
    }
  }

  &__row {
    position: relative;
  }

  &__btn {
    max-width: 32rem;
  }

  &-text {
    &__title {
      max-width: 46.7rem;
    }

    &__link {
      display: none;
    }
  }

  &-ads {
    &__img {
      position: absolute;
      z-index: 3;
      right: -3.5rem;
      top: 20.4rem;
      width: 70.5rem;
      height: 75.2rem;
      &_mobile {
        display: none;
      }
    }

    &__block {
      width: 33.3rem;
      height: fit-content;
      min-height: 14.7rem;
      background: linear-gradient(105.88deg, #FCA311 0.06%, #F8D583 158.14%);
      box-shadow: 0px 20.6445px 12.2989px -16.2521px rgba(0, 0, 0, 0.25);
      border-radius: 1.3rem;
      transform: rotate(-1.91deg);
      color: $white;
      font-weight: 500;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 53.7rem;
      right: 5.5rem;
      z-index: 4;
    }

    &__title {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 3.1rem;
      transform: rotate(-1.91deg);
    }

    &__text {
      transform: rotate(-1.91deg);
    }
  }
}

.business-franchise {
  padding-top: 36.7rem;
  padding-bottom: 14.7rem;
  position: relative;

  &__circle {
    width: 52.8rem;
    height: 52.8rem;
    right: -29.8rem;
    top: 47.6rem;
  }

  &__title {
    max-width: 57.6rem;
  }

  &__caption {
    max-width: 46.7rem;
    margin-top: 2.1rem;
    margin-bottom: 6.4rem;
  }

  &__row {
    display: grid;
    grid-template-columns: 65rem 1fr;
  }

  &-text {
    padding-left: 12rem;

    &__title {
      margin-bottom: 4.7rem;
      margin-top: -1.1rem;
    }

    &__subtitle {
      font-size: 2.4rem;
      line-height: 3.1rem;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: -2.35rem;
    }

    &__column {
      padding: 2.35rem;
    }

    &__text {
      max-width: 21rem;
    }
  }
}

.franchise-partners {
  padding: 0;
  position: relative;

  &__circle {
    width: 53.5rem;
    height: 53.5rem;
    opacity: 0.15;
    left: -12rem;
    top: -9.8rem;
  }
}

.opportunities {
  padding-top: 20.2rem;
  padding-bottom: 29.1rem;
  position: relative;

  &__circle {
    right: -23.2rem;
    top: 24.8rem;
    width: 85.3rem;
    height: 85.3rem;

    &_purple {
      width: 52.8rem;
      height: 52.8rem;
      right: -24.5rem;
      top: 89.4rem;
      opacity: 0.2;
      z-index: 2;
    }
  }

  &__title {
    text-align: right;
  }

  &__row {
    position: relative;
    margin-top: 19.1rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
  }

  &__item {
    margin-bottom: 4.4rem;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      width: .9rem;
      height: .9rem;
      background: $blue;
      border-radius: 50%;
      margin-right: 1.2rem;
    }
  }

  &__text {
    max-width: 26.2rem;

    &_big {
      max-width: 28rem;
    }
  }

  &__img {
    position: absolute;
    left: 13.6rem;
    bottom: -8.9rem;
    width: 71.1rem;
    height: 75.1rem;
    z-index: 3;

    &_mobile {
      display: none;
    }
  }
}

.universality {
  position: relative;

  &__circle {
    right: -18.5rem;
    top: 72.7rem;
    width: 53.5rem;
    height: 53.5rem;

    &_purple {
      width: 85.3rem;
      height: 85.3rem;
      left: -30.6rem;
      top: 6.7rem;
      opacity: 0.2;
    }
  }

  &__grid {
    margin-top: 3.9rem;
    margin-bottom: 7.2rem;
    position: relative;
    z-index: 5;
    height: 67.2rem;

  }

  &-card {
    padding: 2rem 1.6rem;
    border-radius: 1.3rem;
    transition: transform .25s ease, background .25s ease, max-height 0.25s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    position: absolute;

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: .5s ease-out;
      transform: translateY(100%);
    }

    &:hover {
      &:after {
        transform: translateY(0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      }

      .universality-card__subtitle {
        transform: translateY(0);
        max-height: 100%;
        opacity: 1;
        transition: all 0.25s, max-height 0.40s ease-in;
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__subtitle {
      color: $white;
      font-weight: 600;
      opacity: 0;
      max-height: 0;
      transform: translateY(50%);
      transition: all 0.25s ease-out;
      position: relative;
      z-index: 2;
      margin-top: auto;
    }

    &:nth-child(1) {
      width: 19.1rem;
      height: 26.7rem;
      top: 7.2rem;
      left: 5.2rem;
    }

    &:nth-child(2) {
      width: 28.5rem;
      height: 19.3rem;
      top: 0;
      left: 25.4rem;
    }

    &:nth-child(3) {
      width: 19.1rem;
      height: 26.7rem;
      top: 3.9rem;
      left: 54.8rem;
    }

    &:nth-child(4) {
      width: 19rem;
      height: 19.1rem;
      top: 6.2rem;
      left: 74.9rem;
    }

    &:nth-child(5) {
      width: 17.7rem;
      height: 12.8rem;
      top: 12.5rem;
      left: 95rem;
    }

    &:nth-child(6) {
      width: 17.2rem;
      height: 19.1rem;
      top: 6.2rem;
      left: 113.7rem;
    }

    &:nth-child(7) {
      width: 24.5rem;
      height: 12.8rem;
      top: 35rem;
      left: 0;
    }

    &:nth-child(8) {
      width: 28.5rem;
      height: 25.4rem;
      top: 20.1rem;
      left: 25.4rem;
    }

    &:nth-child(9) {
      width: 19.1rem;
      height: 10rem;
      top: 31.5rem;
      left: 54.8rem;
    }

    &:nth-child(10) {
      width: 24.5rem;
      height: 12.8rem;
      top: 26.2rem;
      left: 74.9rem;
    }

    &:nth-child(11) {
      width: 30.6rem;
      height: 26.7rem;
      top: 26.2rem;
      left: 100.3rem;
    }

    &:nth-child(12) {
      width: 13.3rem;
      height: 19.3rem;
      top: 46.3rem;
      left: 25.4rem;
    }

    &:nth-child(13) {
      width: 14.1rem;
      height: 12.9rem;
      top: 46.3rem;
      left: 39.7rem;
    }

    &:nth-child(14) {
      width: 19.1rem;
      height: 19.1rem;
      top: 42.5rem;
      left: 54.8rem;
    }

    &:nth-child(15) {
      width: 24.4rem;
      height: 27.4rem;
      top: 39.9rem;
      left: 74.9rem;
    }

    &:nth-child(16) {
      width: 14.1rem;
      height: 13.3rem;
      top: 53.9rem;
      left: 100.3rem;
    }
  }

  &__title {
    &_small {
      margin-bottom: 7.1rem;
    }
  }

  &__row {
    display: flex;
    margin: -5rem -8.75rem;
    justify-content: space-between;
  }

  &__column {
    margin: 5rem 8.75rem;
    max-width: 32rem;
  }

  &__subtitle {
    font-size: 2.4rem;
    line-height: 3.1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    max-width: 30.5rem;
  }

  &__svg {
    &_big {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}

.offers {
  padding-top: 14rem;
  padding-bottom: 20.1rem;

  &__block {
    background: $black;
    border-radius: 3.9rem;
    color: $white;
    padding: 6.5rem 9.1rem 7.5rem 11rem;
  }

  &__title {
    margin-bottom: 4.3rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: -5rem;
  }

  &__item {
    padding: 5rem;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 8.9rem;
    line-height: 11.6rem;
  }

  &__text {
    max-width: 21.3rem;
  }

  &__btn {
    margin: 7.6rem auto 0;
    max-width: 28.6rem;
  }
}

.benefits {
  &__circle {
    display: none;
  }

  &__title {
    margin-bottom: 18.1rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    margin-right: 2.9rem;
    margin-left: -21.4rem;
    margin-top: -3.5rem;
    height: 61.2rem;
    width: 101.2rem;
  }

  &__list {
    max-width: 48.5rem;
  }

  &__item {
    display: grid;
    grid-template-columns: 3.1rem 1fr;
    margin-bottom: 2.3rem;
  }

  &__svg {
    width: 2rem;
    height: 2rem;

    path {
      fill: $blue;
    }
  }

  &__text {
    line-height: 147.9%;
  }
}

.result {
  padding-top: 22.1rem;
  padding-bottom: 15.1rem;

  &__circle {
    display: none;
  }

  &__title {
    text-align: right;
    max-width: 49.1rem;
    margin-bottom: 6.6rem;
    margin-left: auto;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
    position: relative;
    z-index: 5;
  }

  &__column {
    padding: 1rem 0;
    width: auto;

    &:nth-child(1) {
      width: 48.4rem;

      .result__text {
        max-width: 24.4rem;
      }
    }

    &:nth-child(2) {
      width: 48.3rem;
    }

    &:nth-child(3) {
      width: 28.5rem;
    }

    &:nth-child(4) {
      width: 36.1rem;
    }

    &:nth-child(5) {
      width: 48.5rem;

      .result__text {
        max-width: 24.4rem;
      }
    }

    &:nth-child(6) {
      width: 40.6rem;
    }
  }

  &__card {
    background: $grey;
    border-radius: 2.8rem;
    padding: 3.3rem 3.3rem 3.7rem;
    height: 100%;
    min-height: 31rem;
    overflow: hidden;
    transition: 0.3s;

    &:hover, &:active, &:focus {
      background-image: url('../images/result-card.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateY(-10px) scale(1.005) translateZ(0);
    }
  }

  &__svg {
    width: 3.3rem;
    height: 3.3rem;

    path {
      fill: $black;
    }
  }

  &__text {
    margin-top: 13.6rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.3rem;
    max-width: 25.7rem;
  }
}

.income {

  &__circle {
    display: none;
  }

  &__title {
    margin-bottom: 12.5rem;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(51rem, 1fr));
    margin: -4.55rem;
  }

  &__column {
    padding: 4.55rem;
  }

  &__card {
    height: 100%;
    width: 100%;
    background: $grey;
    border-radius: 2.8rem;
    padding: 5.3rem 2.2rem 5.3rem 3.3rem;
    transition: .3s;

    &:hover, &:active, &:focus {
      background-image: url('../images/income-card.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color: $white;
      transition: .3s;
      transform: translateY(-30px) scale(1.005) translateZ(0);
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.1rem;
  }

  &__list {
    margin-top: 3.5rem;
    margin-bottom: 3.9rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    max-width: 28rem;

    &_bold {
      font-weight: 600;
      margin-left: 1rem;
    }
  }

  &__link {
    margin-top: 2.7rem;
    margin-bottom: 3.7rem;
    margin-left: auto;
    width: fit-content;
    text-decoration: underline;
    display: block;
  }

  &__btn {
    margin: auto;
  }
}

.unique-offer {
  padding: 11.9rem 0;

  &__block {
    background: $black;
    border-radius: 3.9rem;
    color: $white;
    padding: 8.2rem 9.1rem;
  }

  &__title {
    margin-bottom: 3.4rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    margin-bottom: 2.4rem;
    max-width: 35.2rem;
  }

  &__img {
    width: 43.2rem;
    height: 11.3rem;
    margin-left: 5rem;

    &_mobile {
      display: none;
    }
  }
}

.questions {
  padding-bottom: 13.7rem;

  &__caption {
    max-width: 47rem;
    margin-top: 2.4rem;
    margin-bottom: 4.4rem;
  }

  &-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: -.9rem;
    align-items: start;

    &__group {
      padding: .9rem;
    }

    &__btn {
      margin-top: 2.8rem;
    }
  }
}

@media only screen and (max-width: $large-tablet) {
  .main-franchise {
    margin-top: 30.9rem;

    &__circle {
      &_left {
        left: 53.3rem;
        top: -30.6rem;

        &_purple {
          left: 87.1rem;
          top: 34.0rem;
        }
      }

      &_right {
        display: none;
      }
    }

    &-text {
      &__caption {
        margin-top: 2.7rem;
      }

      &__link {
        display: block;
        margin-top: 18.9rem;
      }
    }

    &-ads {
      &__img {
        top: -13.8rem;
        right: -30rem;
      }

      &__block {
        top: 19.5rem;
        right: 0;
      }
    }
  }

  .business-franchise {
    padding-top: 9.8rem;
    padding-bottom: 10.5rem;

    &__circle {
      right: -57rem;
      top: 37.3rem;
    }

    &__caption {
      margin-top: 2.1rem;
      margin-bottom: 4.3rem;
    }

    &__row {
      grid-template-columns: 1fr;
    }

    &-text {
      padding-left: 0;
      margin-top: 4.8rem;

      &__title {
        margin-top: 0;
      }

      &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: -2.65rem;
      }

      &__column {
        padding: 2.65rem;
      }
    }
  }

  .franchise-partners {
    &__circle {
      left: -45.3rem;
      top: -22.6rem;
    }
  }

  .opportunities {
    padding-top: 10.6rem;
    padding-bottom: 24.9rem;

    &__circle {
      right: -51.5rem;
      top: 13rem;

      &_purple {
        right: -42.8rem;
        top: 77.6rem;
      }
    }

    &__title {
      margin-bottom: 7.9rem;
    }

    &__row {
      margin-top: 7.9rem;
    }

    &__list {
      justify-content: start;
    }

    &__item {
      margin-bottom: 4.8rem;
      margin-right: 8.9rem;
    }

    &__img {
      height: 71.5rem;
      width: 67.7rem;
      left: auto;
      right: -22.2rem;
      bottom: -8.2rem;
      display: none;

      &_mobile {
        display: block;
      }
    }
  }

  .universality {
    &__circle {
      right: -46.8rem;
      top: 85.9rem;

      &_purple {
        left: -63.9rem;
        top: 19.9rem;
      }
    }

    &__title {
      text-align: right;
      max-width: 55.3rem;
      margin-left: auto;
    }

    &__grid {
      margin-top: 7.6rem;
      margin-bottom: 8rem;
      height: 47.4rem;
    }

    &-card {
      &:nth-child(1) {
        width: 13.5rem;
        height: 18.9rem;
        top: 5.1rem;
        left: 3.8rem;
      }

      &:nth-child(2) {
        width: 20.1rem;
        height: 13.6rem;
        left: 18rem;
      }

      &:nth-child(3) {
        width: 13.5rem;
        height: 18.9rem;
        top: 2.8rem;
        left: 38.7rem;
      }

      &:nth-child(4) {
        width: 13.4rem;
        height: 13.5rem;
        top: 4.4rem;
        left: 52.9rem;
      }

      &:nth-child(5) {
        width: 12.5rem;
        height: 9rem;
        top: 8.8rem;
        left: 67rem;
      }

      &:nth-child(6) {
        width: 12.1rem;
        height: 13.5rem;
        top: 4.4rem;
        left: 80.3rem;
      }

      &:nth-child(7) {
        width: 17.6rem;
        height: 9rem;
        top: 24.6rem;
      }

      &:nth-child(8) {
        width: 20.1rem;
        height: 17.9rem;
        top: 14.2rem;
        left: 18rem;
      }

      &:nth-child(9) {
        width: 13.5rem;
        height: 7.1rem;
        top: 22.3rem;
        left: 38.7rem;
      }

      &:nth-child(10) {
        width: 17.3rem;
        height: 9rem;
        top: 18.3rem;
        left: 52.9rem;
      }

      &:nth-child(11) {
        width: 21.6rem;
        height: 18.9rem;
        top: 18.3rem;
        left: 70.8rem;
      }

      &:nth-child(12) {
        width: 9.4rem;
        height: 13.6rem;
        top: 32.6rem;
        left: 18rem;
      }

      &:nth-child(13) {
        width: 10rem;
        height: 9.1rem;
        top: 32.6rem;
        left: 28.1rem;
      }

      &:nth-child(14) {
        width: 13.5rem;
        height: 13.5rem;
        top: 30rem;
        left: 38.7rem;
      }

      &:nth-child(15) {
        width: 17.2rem;
        height: 19.3rem;
        top: 28.1rem;
        left: 52.9rem;
      }

      &:nth-child(16) {
        width: 10rem;
        height: 9.4rem;
        top: 38rem;
        left: 70.8rem;
      }
    }

    &__row {
      display: grid;
      grid-template-columns: 34rem 34rem 27rem;
      justify-content: space-between;
      margin: -1.5rem;
    }

    &__column {
      padding: 1.5rem;
      margin: 0;
      max-width: 100%;
    }
  }

  .offers {
    padding-top: 10.8rem;
    padding-bottom: 15.1rem;

    &__block {
      padding: 4.6rem 3.9rem 5.8rem 5.8rem;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: space-between;
    }

    &__btn {
      margin-top: 6.2rem;
    }
  }

  .benefits {
    position: relative;

    &__circle {
      display: block;
      width: 85.3rem;
      height: 85.3rem;
      right: -65.4rem;
      top: 81.6rem;
      opacity: 0.1;

      &_purple {
        width: 52.8rem;
        height: 52.8rem;
        left: 95.5rem;
        top: -7.8rem;
        opacity: 0.3;
      }
    }

    &__title {
      margin-bottom: 7.2rem;
    }

    &__row {
      flex-direction: column;
    }

    &__img {
      margin: 0 0 7.6rem;
      width: 100%;
      height: 55.9rem;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: -4px;
      max-width: 100%;
    }

    &__item {
      padding: 4px;
    }
  }

  .result {
    padding-top: 9.5rem;
    padding-bottom: 10.7rem;
    position: relative;

    &__circle {
      display: block;
      width: 53.5rem;
      height: 53.5rem;
      opacity: 0.15;
      left: -36.9rem;
      top: 42.4rem;
    }

    &__grid {
      margin: -1.5rem 0;
    }

    &__column {
      padding: 1.5rem 0;

      &:nth-child(1) {
        width: 48.4rem;
      }

      &:nth-child(2) {
        width: 41.0rem;
      }

      &:nth-child(3) {
        width: 37.5rem;

        .result__text {
          max-width: 24.4rem;
        }
      }

      &:nth-child(4) {
        width: 51.9rem;
      }

      &:nth-child(5) {
        width: 48.5rem;
      }

      &:nth-child(6) {
        width: 40.9rem;
      }
    }
  }

  .income {
    position: relative;

    &__circle {
      display: block;
      width: 85.3rem;
      height: 85.3rem;
      opacity: 0.1;
      right: -59.9rem;
      top: -35.4rem;

      &_purple {
        width: 85.3rem;
        height: 85.3rem;
        left: -55.5rem;
        bottom: -8.8rem;
        opacity: 0.2;
      }
    }

    &__title {
      margin-bottom: 12.7rem;
    }

    &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -1.55rem -2.45rem;
      position: relative;
      z-index: 3;
    }

    &__column {
      padding: 1.55rem 2.45rem;
    }

    &__card {
      background-image: url('../images/income-card.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color: $white;
    }

    &__link {
      display: none;
    }

    &__btn {
      margin-top: 9.4rem;
    }
  }

  .unique-offer {
    padding-top: 8.4rem;
    padding-bottom: 8.3rem;

    &__block {
      padding: 7.6rem 15.2rem 7.7rem;
      text-align: center;
    }

    &__row {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__text {
      margin-top: 3.7rem;
      margin-bottom: 4.1rem;
    }

    &__img {
      margin: 0;
      display: none;

      &_mobile {
        display: block;
      }
    }

    &__btn {
      margin: auto;
    }
  }

  .questions {
    padding-bottom: 10.3rem;
    text-align: center;

    &__caption {
      max-width: 47rem;
      margin: 1.8rem auto 3.4rem;
    }

    &-form {
      grid-template-columns: repeat(4, 1fr);

      &__group {
        &:last-child {
          grid-column-start: 1;
          grid-column-end: 5;
        }
      }

      &__btn {
        margin: 3.4rem auto 0;
      }
    }
  }
}

@media only screen and (max-width: $small-tablet) {
  .main-franchise {
    margin-top: 28.9rem;

    &__circle {
      &_left {
        &_purple {
          left: 59.1rem;
        }
      }
    }

    &-text {
      &__title {
        max-width: 33rem;
      }

      &__caption {
        margin-top: 1.9rem;
        margin-bottom: 2.8rem;
        max-width: 32rem;
      }

      &__link {
        display: block;
        margin-top: 26.9rem;
      }
    }


    &-ads {
      &__img {
        top: -17.8rem;
        right: -40rem;
      }

      &__block {
        top: 15rem;
        right: -5rem;
      }
    }
  }

  .business-franchise {
    padding-bottom: 9.3rem;

    &__title {
      max-width: 57.6rem;
    }

    &-text {
      margin-top: 5.8rem;

      &__grid {
        grid-template-columns: repeat(2, auto);
        justify-content: start;
        margin: -5rem;
      }

      &__column {
        padding: 5rem;
      }

      &__text {
        max-width: 19rem;
      }
    }
  }

  .franchise-partners {
    &__circle {
      left: -34.3rem;
      top: -28.1rem;
    }

    &__tilte {
      font-size: 3.4rem;
      line-height: 4.4rem;
      margin-bottom: 6.4rem;
    }
  }

  .opportunities {
    padding-top: 11rem;
    padding-bottom: 3.8rem;

    &__circle {
      top: -1.2rem;

      &_purple {
        right: -35.8rem;
        top: 60.3rem;
      }
    }

    &__title {
      margin-bottom: 5.5rem;
    }

    &__row {
      margin: 0;
      display: flex;
      flex-direction: column-reverse;
    }

    &__list {
      justify-content: space-between;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 -5rem;
    }

    &__item {
      padding: 0 5rem;
    }

    &__item {
      margin-bottom: 5.7rem;
      margin-right: 0;
    }

    &__subtitle {
      font-size: 1.8rem;
      line-height: 2.3rem;
      margin-bottom: .9rem;
    }

    &__img {
      width: 67.7rem;
      height: 71.5rem;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      position: static;
      margin-left: -16.8rem;
      margin-bottom: 6rem;
    }
  }

  .universality {

    &__circle {
      top: 11rem;

      &_purple {
        left: -52.9rem;
        top: -54.9rem;
      }
    }

    &__title {
      max-width: 39.9rem;

      &_small {
        margin-bottom: 5.8rem;
      }
    }

    &__grid {
      margin: 6.5rem -5rem 8.2rem;
      height: 41.3rem;
    }

    &-card {
      &:nth-child(1) {
        width: 11.7rem;
        height: 16.4rem;
        top: 4.4rem;
        left: -.8rem;
      }

      &:nth-child(2) {
        width: 17.5rem;
        height: 11.9rem;
        left: 11.3rem;
      }

      &:nth-child(3) {
        width: 11.7rem;
        height: 16.4rem;
        top: 2.4rem;
        left: 29.5rem;
      }

      &:nth-child(4) {
        width: 11.7rem;
        height: 11.7rem;
        top: 3.8rem;
        left: 41.7rem;
      }

      &:nth-child(5) {
        width: 10.9rem;
        height: 7.9rem;
        top: 7.7rem;
        left: 54.1rem;
      }

      &:nth-child(6) {
        width: 10.6rem;
        height: 11.7rem;
        top: 3.9rem;
        left: 65.6rem;
      }

      &:nth-child(7) {
        width: 15rem;
        height: 7.9rem;
        top: 21.5rem;
        left: -4.2rem;
      }

      &:nth-child(8) {
        width: 17.5rem;
        height: 15.6rem;
        top: 12.4rem;
        left: 11.3rem;
      }

      &:nth-child(9) {
        width: 11.7rem;
        height: 6.1rem;
        top: 19.4rem;
        left: 29.5rem;
      }

      &:nth-child(10) {
        width: 15rem;
        height: 7.9rem;
        top: 16.1rem;
        left: 41.7rem;
      }

      &:nth-child(11) {
        width: 18.8rem;
        height: 16.4rem;
        top: 16.1rem;
        left: 57.4rem;
      }

      &:nth-child(12) {
        width: 8.2rem;
        height: 11.9rem;
        top: 28.5rem;
        left: 11.3rem;
      }

      &:nth-child(13) {
        width: 8.7rem;
        height: 7.9rem;
        top: 28.5rem;
        left: 20.2rem;
      }

      &:nth-child(14) {
        width: 11.7rem;
        height: 11.7rem;
        top: 26.1rem;
        left: 29.5rem;
      }

      &:nth-child(15) {
        width: 15rem;
        height: 16.8rem;
        top: 24.5rem;
        left: 41.7rem;
      }

      &:nth-child(16) {
        width: 8.7rem;
        height: 8.2rem;
        top: 33.2rem;
        left: 57.4rem;
      }
    }

    &__row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      text-align: center;
    }

    &__column {
      padding: 0;
      margin-bottom: 5.8rem;
      max-width: 32rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__icon {
      margin-left: auto;
      margin-right: auto;
    }

    &__subtitle {
      margin: 2rem auto 1rem;
    }
  }

  .offers {
    padding-top: 8.2rem;
    padding-bottom: 8.2rem;

    &__block {
      padding: 7.4rem 8.2rem 8.3rem;
    }

    &__title {
      margin-bottom: 4.5rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      text-align: center;
    }

    &__item {
      padding: 0;
      margin-bottom: 5.1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__btn {
      margin-top: 6.3rem;
    }

  }

  .benefits {
    &__circle {
      display: none;
    }

    &__title {
      margin-bottom: 6.4rem;
    }

    &__img {
      margin-bottom: 7.8rem;
      margin-left: -3.6rem;
      height: 43.3rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 46.4rem;
    }

    &__item {
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .result {
    padding-top: 10.5rem;
    padding-bottom: 6.7rem;

    &__circle {
      display: none;
    }

    &__title {
      max-width: 34.4rem;
      margin-bottom: 5.6rem;
    }

    &__grid {
      margin: -1.5rem 0;
    }

    &__column {
      padding: 1.5rem 0;

      &:nth-child(1) {
        width: 34.5rem;
      }

      &:nth-child(2) {
        width: 27.7rem;
      }

      &:nth-child(3) {
        width: 26.5rem;
      }

      &:nth-child(4) {
        width: 35.9rem;
      }

      &:nth-child(5) {
        width: 34.6rem;
      }

      &:nth-child(6) {
        width: 27.9rem;
      }
    }
  }

  .income {
    &__circle {
      display: none;
    }

    &__title {
      margin-bottom: 6.7rem;
    }

    &__row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
    }

    &__column {
      padding: 0;
      margin: 0 auto 3rem;
      width: 37.6rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__btn {
      margin-top: 7.6rem;
    }
  }

  .unique-offer {
    padding-top: 6.9rem;
    padding-bottom: 6.7rem;

    &__block {
      padding: 6.6rem 10.2rem;
    }

    &__text {
      margin-top: 3.1rem;
      margin-bottom: 5.6rem;
    }
  }

  .questions {
    padding-bottom: 13.6rem;

    &__caption {
      max-width: 47rem;
      margin: 2rem auto 3.2rem;
    }

    &-form {
      grid-template-columns: repeat(2, 1fr);
      margin: -1rem -.6rem;

      &__group {
        padding: 1rem .6rem;

        &:last-child {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }

      &__btn {
        margin-top: 1.7rem;
      }
    }
  }

}

@media only screen and (max-width: $large-mobile) {
  .result {
    padding-top: 5.2rem;
    padding-bottom: 5.8rem;

    &__title {
      max-width: 35rem;
      margin-bottom: 4.2rem;
    }

    &__grid {
      margin: 0;
      justify-content: center;
    }

    &__column {
      width: 100%;
      padding: 0;
      margin-bottom: 3rem;

      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        width: 39.8rem;
        max-width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__card {
      background-image: url('../images/result-card.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media only screen and (max-width: $small-mobile) {
  .main-franchise {
    margin-top: 7.9rem;

    &__circle {
      &_left {
        left: 25.3rem;

        &_purple {
          left: 33.1rem;
        }
      }
    }

    &__btn {
      margin-left: auto;
      margin-right: auto;
    }

    &-text {
      margin-top: 3px;

      &__title {
        max-width: 27.6rem;
      }

      &__caption {
        margin-bottom: 2.7rem;
      }

      &__link {
        display: none;
      }

    }

    &-ads {
      &__img {
        width: 50.8rem;
        height: 54.2rem;
        max-width: none;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin-right: -5.5rem;
        margin-left: -5.6rem;
        display: none;
        &_mobile {
          display: block;
        }
      }

      &__block {
        top: 28.7rem;
        right: 1.5rem;
        width: 24rem;
        min-height: 10.5rem;
      }

      &__title {
        font-size: 1.8rem;
        line-height: 2.3rem;
      }
    }
  }

  .business-franchise {
    padding-top: 7rem;
    padding-bottom: 4.2rem;

    &__circle {
      right: -62.6rem;
      top: 37.6rem;
    }

    &__title {
      max-width: 29rem;
    }

    &__caption {
      max-width: 30.6rem;
      margin-top: 1.9rem;
      margin-bottom: 2.6rem;
    }

    &-text {
      margin-top: 5.6rem;

      &__title {
        margin-bottom: 5rem;
      }

      &__grid {
        margin: -2.15rem -1.5rem;
      }

      &__column {
        padding: 2.15rem 1.5rem;
      }

      &__subtitle {
        margin-top: 2.8rem;
        margin-bottom: 1rem;
      }

      &__text {
        max-width: 100%;
      }
    }
  }

  .franchise-partners {
    &__circle {
      top: .9rem;
      opacity: 0.15;
    }

    &__tilte {
      font-size: 2.4rem;
      line-height: 3.1rem;
      margin-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 25rem;
    }
  }

  .opportunities {
    padding-top: 6.3rem;
    padding-bottom: 5.9rem;

    &__circle {
      top: 26.3rem;
      right: -57.1rem;
      left: auto;
      opacity: 0.1;

      &_purple {
        right: -41.4rem;
        top: 100.3rem;
        opacity: 0.2;
      }
    }

    &__title {
      margin-bottom: 3.2rem;
      text-align: center;
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }

    &__item {
      padding: 0;
      margin-bottom: 2.7rem;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__subtitle {
      justify-content: center;
    }

    &__img {
      width: 48.7rem;
      height: 51.4rem;
      max-width: none;
      margin-left: -15.5rem;
      margin-bottom: 5rem;
    }
  }

  .universality {
    &__circle {
      display: none;

      &_purple {
        display: block;
        top: -21.2rem;
      }
    }

    &__title {
      max-width: 27.4rem;

      &_small {
        margin-bottom: 5.1rem;
      }
    }

    &__grid {
      margin: 3.8rem -1.4rem 7.9rem;
      height: 23.9rem;
    }

    &-card {
      border-radius: 5px;

      &:nth-child(1) {
        width: 6.8rem;
        height: 9.5rem;
        top: 2.6rem;
        left: -.7rem;
      }

      &:nth-child(2) {
        width: 10.1rem;
        height: 6.9rem;
        left: 6.5rem;
      }

      &:nth-child(3) {
        width: 6.8rem;
        height: 9.5rem;
        top: 1.4rem;
        left: 16.9rem;
      }

      &:nth-child(4) {
        width: 6.8rem;
        height: 6.8rem;
        top: 2.2rem;
        left: 24.1rem;
      }

      &:nth-child(5) {
        width: 6.3rem;
        height: 4.5rem;
        top: 4.5rem;
        left: 31.2rem;
      }

      &:nth-child(6) {
        width: 6.1rem;
        height: 6.8rem;
        top: 2.2rem;
        left: 37.9rem;
      }

      &:nth-child(7) {
        width: 8.7rem;
        height: 4.6rem;
        top: 12.5rem;
        left: -2.6rem;
      }

      &:nth-child(8) {
        width: 10.1rem;
        height: 9rem;
        top: 7.2rem;
        left: 6.5rem
      }

      &:nth-child(9) {
        width: 6.8rem;
        height: 3.6rem;
        top: 11.2rem;
        left: 16.9rem;
      }

      &:nth-child(10) {
        width: 8.7rem;
        height: 4.6rem;
        top: 9.3rem;
        left: 24rem;
      }

      &:nth-child(11) {
        width: 10.9rem;
        height: 9.5rem;
        top: 9.3rem;
        left: 33.1rem;
      }

      &:nth-child(12) {
        width: 4.7rem;
        height: 6.9rem;
        top: 16.5rem;
        left: 6.5rem;
      }

      &:nth-child(13) {
        width: 5rem;
        height: 4.6rem;
        top: 16.5rem;
        left: 11.6rem;
      }

      &:nth-child(14) {
        width: 6.8rem;
        height: 6.8rem;
        top: 15.1rem;
        left: 16.9rem;
      }

      &:nth-child(15) {
        width: 8.7rem;
        height: 9.7rem;
        top: 14.2rem;
        left: 24.1rem;
      }

      &:nth-child(16) {
        width: 5rem;
        height: 4.7rem;
        top: 19.2rem;
        left: 33.1rem;
      }
    }
  }

  .offers {
    padding-top: 6rem;
    padding-bottom: 6.3rem;

    &__block {
      padding: 5.7rem 3rem;
    }

    &__title {
      margin-bottom: 3.8rem;
    }
  }

  .benefits {
    &__title {
      margin-bottom: 3.9rem;
    }

    &__img {
      margin-bottom: 6.7rem;
      margin-left: -3.5rem;
      max-width: none;
      width: 47.1rem;
      height: 28.5rem;
    }

    &__list {
      margin: 0;
      max-width: 35.8rem;
    }

    &__item {
      margin-bottom: 1.9rem;
    }
  }

  .result {
    &__title {
      max-width: 26rem;
    }
  }

  .income {
    &__title {
      margin-bottom: 5.7rem;
    }

    &__column {
      width: 100%;
    }

    &__btn {
      margin-top: 6.4rem;
    }

    &__card {
      &:hover, &:active, &:focus {
        transform: translateY(-15px) scale(1.005) translateZ(0);
      }
    }
  }

  .unique-offer {
    padding-top: 6.2rem;
    padding-bottom: 6.1rem;

    &__block {
      padding: 6.8rem 4.2rem;
    }

    &__text {
      margin-top: 3.9rem;
      margin-bottom: 4.3rem;
    }

    &__img {
      width: 22.9rem;
      height: 6rem;
    }
  }

  .questions {
    padding-bottom: 8.6rem;

    &__caption {
      max-width: 32.9rem;
      margin: 2.1rem auto 4.1rem;
    }

    &-form {
      display: flex;
      flex-direction: column;
      margin: 0;

      &__group {
        padding: 0;
        margin-bottom: 2rem;
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__btn {
        margin: 0;
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: $tiny-mobile) {
  .main-franchise {
    margin-top: 5.9rem;

    &__circle {
      &_left {
        width: 63.8rem;
        height: 63.8rem;
        left: 18.9rem;
        top: -22.9rem;

        &_purple {
          width: 39.5rem;
          height: 39.5rem;
          left: 24.7rem;
          top: 25.4rem;
        }
      }
    }

    &__btn {
      height: 5.5rem;
      max-width: 25.9rem;
    }

    &-text {
      margin-top: 2px;

      &__title {
        max-width: 21rem;
      }

      &__caption {
        margin-top: 1.8rem;
        margin-bottom: 2.3rem;
      }

    }

    &-ads {
      &__img {
        width: 38rem;
        height: 40.5rem;
        margin-right: -4.1rem;
        margin-left: -4.2rem;
      }

      &__block {
        top: 21.4rem;
        right: 1.2rem;
        width: 18rem;
        min-height: 7.9rem;
      }

      &__title {
        font-size: 1.3rem;
        line-height: 1.7rem;
      }

      &__text {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
  }

  .business-franchise {
    padding-top: 3.6rem;
    padding-bottom: 2.9rem;

    &__circle {
      width: 63.8rem;
      height: 63.8rem;
      right: -46.8rem;
      top: 25rem;
    }

    &__title {
      max-width: 22rem;
    }

    &__caption {
      max-width: 25.2rem;
      margin-top: 1.4rem;
      margin-bottom: 1.9rem;
    }

    &-text {
      margin-top: 4.2rem;

      &__title {
        margin-bottom: 3.8rem;
      }

      &__grid {
        margin: -.65rem -1.3rem;
      }

      &__column {
        padding: .65rem 1.3rem;
      }

      &__subtitle {
        margin-top: 2.1rem;
        margin-bottom: .8rem;
        font-size: 1.8rem;
        line-height: 2.3rem;
      }

      &__icon {
        width: 4.2rem;
        height: 4.2rem;
      }

      &__svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .franchise-partners {
    &__circle {
      top: -.9rem;
      left: -25.6rem;
      width: 40rem;
      height: 40rem;
    }

    &__tilte {
      font-size: 1.8rem;
      line-height: 2.3rem;
      margin-bottom: 1.5rem;
      max-width: 20rem;
    }
  }

  .opportunities {
    padding-top: 3.2rem;
    padding-bottom: 4.5rem;

    &__circle {
      width: 63.8rem;
      height: 63.8rem;
      top: 25.2rem;
      right: -42.6rem;

      &_purple {
        width: 39.5rem;
        height: 39.5rem;
        top: 73.5rem;
        right: -31rem;
      }
    }

    &__title {
      margin-bottom: 2.4rem;
    }

    &__item {
      margin-bottom: 2rem;
    }

    &__img {
      width: 36.4rem;
      height: 38.4rem;
      margin-left: -11.6rem;
      margin-bottom: 3.4rem;
    }

    &__subtitle {
      font-size: 1.3rem;
      line-height: 1.7rem;
      margin-bottom: .7rem;

      &:before {
        width: .7rem;
        height: .7rem;
        margin-right: .9rem;
      }
    }

    &__text {
      max-width: 19.5rem;
    }
  }

  .universality {
    &__circle {
      &_purple {
        width: 63.8rem;
        height: 63.8rem;
        top: -16.4rem;
        left: -39.5rem;
      }
    }

    &__title {
      max-width: 20.5rem;

      &_small {
        margin-bottom: 4.8rem;
      }
    }

    &__grid {
      margin: 2.8rem -1.1rem 4.4rem;
      height: 17.9rem;
    }

    &-card {
      border-radius: 3px;

      &:nth-child(1) {
        width: 5.1rem;
        height: 7.1rem;
        left: -.5rem;
        top: 1.9rem;
      }

      &:nth-child(2) {
        width: 7.6rem;
        height: 5.1rem;
        left: 4.8rem;
      }

      &:nth-child(3) {
        width: 5rem;
        height: 7.1rem;
        left: 12.7rem;
        top: 1.1rem;
      }

      &:nth-child(4) {
        width: 5rem;
        height: 5.1rem;
        left: 18rem;
        top: 1.8rem;
      }

      &:nth-child(5) {
        width: 4.7rem;
        height: 3.4rem;
        left: 23.3rem;
        top: 2.8rem;
      }

      &:nth-child(6) {
        width: 4.6rem;
        height: 5.1rem;
        left: 28.3rem;
        top: 1.7rem;
      }

      &:nth-child(7) {
        width: 6.5rem;
        height: 3.4rem;
        left: -1.9rem;
        top: 9.3rem;
      }

      &:nth-child(8) {
        width: 7.6rem;
        height: 6.7rem;
        left: 4.8rem;
        top: 5.4rem;
      }

      &:nth-child(9) {
        width: 5rem;
        height: 2.7rem;
        left: 12.7rem;
        top: 8.5rem;
      }

      &:nth-child(10) {
        width: 6.5rem;
        height: 3.4rem;
        left: 18rem;
        top: 7.15rem;
      }

      &:nth-child(11) {
        width: 8.1rem;
        height: 6.9rem;
        left: 24.8rem;
        top: 7rem;
      }

      &:nth-child(12) {
        width: 3.5rem;
        height: 5.1rem;
        left: 4.8rem;
        top: 12.3rem;
      }

      &:nth-child(13) {
        width: 3.8rem;
        height: 3.1rem;
        left: 8.6rem;
        top: 12.3rem;
      }

      &:nth-child(14) {
        width: 5rem;
        height: 5.1rem;
        left: 12.7rem;
        top: 12.7rem;
      }

      &:nth-child(15) {
        width: 6.5rem;
        height: 7.3rem;
        left: 18rem;
        top: 11.33rem;
      }

      &:nth-child(16) {
        width: 3.8rem;
        height: 3.5rem;
        left: 24.8rem;
        top: 14.4rem;
      }
    }

    &__column {
      padding: 0;
      margin-bottom: 3.3rem;
      max-width: 24rem;
    }

    &__icon {
      width: 4.8rem;
      height: 4.8rem;
    }

    &__svg {
      width: 2.3rem;
    }

    &__subtitle {
      font-size: 1.8rem;
      line-height: 2.3rem;
      margin-top: 1.5rem;
      margin-bottom: .8rem;
    }
  }

  .offers {
    padding-top: 2.6rem;
    padding-bottom: 4.7rem;

    &__block {
      padding: 4.3rem 2.2rem;
      border-radius: 2.9rem;
    }

    &__title {
      margin-bottom: 2.3rem;
    }

    &__subtitle {
      font-size: 6.6rem;
      line-height: 8.6rem;
    }

    &__item {
      margin-bottom: 3.6rem;
    }

    &__text {
      max-width: 16.9rem;
    }

    &__btn {
      max-width: 21.4rem;
      margin-top: 4.4rem;
    }
  }

  .benefits {
    &__title {
      margin-bottom: 2.9rem;
    }

    &__img {
      margin-bottom: 5.1rem;
      margin-left: -2.8rem;
      width: 35.2rem;
      height: 21.3rem;
    }

    &__list {
      max-width: 100%;
    }

    &__item {
      margin-bottom: 1.6rem;
      grid-template-columns: 2.7rem 1fr;
    }

    &__svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .result {
    padding-top: 3.5rem;
    padding-bottom: 5.1rem;

    &__title {
      max-width: 25.7rem;
      font-size: 2.4rem;
      line-height: 3.1rem;
      margin-bottom: 3.8rem;
    }

    &__column {
      margin-bottom: 1.5rem;
    }

    &__card {
      border-radius: 2.1rem;
      padding: 2.3rem;
      min-height: 23.2rem;
    }

    &__svg {
      width: 2.5rem;
      height: 2.5rem;
    }

    &__text {
      margin-top: 10.1rem;
      font-size: 1.5rem;
      line-height: 2.0rem;
      max-width: 21.6rem;
    }
  }

  .income {
    &__title {
      margin-bottom: 4.3rem;
    }

    &__btn {
      margin-top: 4.6rem;
    }

    &__column {
      margin-bottom: 2.2rem;
    }

    &__card {
      padding: 4rem 2.4rem;
      border-radius: 2rem;
    }

    &__subtitle {
      font-size: 1.8rem;
      line-height: 2.3rem;
    }

    &__list {
      margin-top: 2.6rem;
      margin-bottom: 2.8rem;
    }

    &__item {
      margin-bottom: 1.4rem;
    }
  }

  .unique-offer {
    padding-top: 4.8rem;
    padding-bottom: 4.6rem;

    &__block {
      padding: 5.1rem 3rem;
      border-radius: 2.9rem;
    }

    &__text {
      margin: 3rem 0;
    }

    &__img {
      width: 17.1rem;
      height: 4.5rem;
    }
  }

  .questions {
    padding-bottom: 6.2rem;

    &__caption {
      max-width: 25.7rem;
      margin: 1.3rem auto 2.9rem;
    }

    &-form {
      &__group {
        margin-bottom: 1.5rem;
      }
    }
  }
}