.main-materials {
  position: relative;

  &__circle {
    &_left {
      left: -41rem;
      top: -35.1rem;
      width: 85.3rem;
      height: 85.3rem;
      opacity: 0.3;

      &_purple {
        width: 38rem;
        height: 38rem;
        left: 5rem;
        top: 27.4rem;
        z-index: 2;
        opacity: 0.3;
      }
    }

    &_right {
      width: 26.1rem;
      height: 26.1rem;
      right: 4.4rem;
      top: 46.4rem;
      opacity: 0.3;

      &_purple {
        right: -26.1rem;
        top: 52.2rem;
        width: 52.8rem;
        height: 52.8rem;
        opacity: 0.3;
        z-index: 2;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  &-text {
    padding-right: 7.4rem;
    align-items: flex-end;

    &__link {
      margin-right: -7.4rem;
      margin-top: 13.7rem;
    }

    &__title {
      max-width: 57.6rem;
    }
  }

  &__img {
    width: 57rem;
    height: 72rem;
    display: block;
    position: absolute;
    top: 18.7rem;
    left: 0;
    z-index: 2;
    border-radius: 0px 44.8rem 44.8rem 44.8rem;
    overflow: hidden;

    &_big {
      height: 72.9rem;
      width: auto;
      position: absolute;
      bottom: 0;
      left: 4rem;
      z-index: 2;
    }

    &_back {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: auto;
    }
  }
}

.materials {
  padding-top: 26.1rem;
  padding-bottom: 17.1rem;
  position: relative;

  &__circle {
    left: -12rem;
    top: 97rem;
    width: 53.5rem;
    height: 53.5rem;
    opacity: 0.15;

    &_purple {
      width: 85.3rem;
      height: 85.3rem;
      right: -24.5rem;
      top: 30.7rem;
      opacity: 0.2;
      z-index: 2;
    }
  }

  &-accordion {
    &__svg {
      path {
        fill: $white;
      }
    }

    &__body {
      display: none;
      padding-bottom: 7.6rem;
      padding-top: 0.8rem;
    }

    &__item.active {
      .materials-accordion {
        &__svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &-video {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: -2rem -5px;
    }

    &__item {
      padding: 2rem 5px;
    }

    &__link {
      width: 100%;
      height: 21.3rem;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: $large-tablet) {
  .main-materials {
    padding-top: 30.6rem;

    &__circle {
      &_left {
        display: none;
      }

      &_right {
        right: auto;
        left: 53.3rem;
        top: -30.6rem;
        width: 85.3rem;
        height: 85.3rem;

        &_purple {
          right: auto;
          left: 87.1rem;
          top: 34.0rem;
        }
      }
    }

    &-text {
      padding: 0;
      max-width: 57.6rem;

      &__btn {
        margin-left: auto;
      }

      &__title {
        text-align: right;
      }

      &__caption {
        text-align: right;
        max-width: 34.6rem;
        margin-left: auto;
        margin-top: 2.7rem;
        margin-bottom: 4.1rem;
      }

      &__link {
        margin-top: 15.8rem;
        margin-right: 0;
      }
    }

    &__img {
      width: 52.2rem;
      height: 65rem;
      top: -13.9rem;
      left: -15.9rem;

      &_big {
        width: 44.7rem;
        height: 65.8rem;
      }

      &_back {
        height: 52.2rem;
      }
    }
  }

  .materials {
    padding-top: 7.2rem;
    padding-bottom: 14.8rem;

    &__circle {
      left: -45.3rem;
      top: auto;
      bottom: 0;

      &_purple {
        right: -57rem;
        top: 37.5rem;
      }
    }

    &-video {
      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: -1.55rem -1.6rem;
      }

      &__item {
        padding: 1.55rem 1.6rem;
      }

      &__link {
        height: 22.1rem;
      }
    }
  }

}

@media only screen and (max-width: $small-tablet) {
  .main-materials {

    &__circle {
      &_right {
        &_purple {
          left: 59.1rem;
        }
      }
    }

    &-text {
      padding: 0;
      max-width: 40.7rem;

      &__caption {
        margin-top: 2.9rem;
      }

      &__link {
        margin-top: 20.5rem;
      }
    }

    &__img {
      width: 43.7rem;
      height: 54.4rem;
      top: -10.9rem;
      left: -17.8rem;

      &_big {
        width: 37.4rem;
        height: 55.1rem;
      }

      &_back {
        height: 43.7rem;
      }
    }
  }

  .materials {
    padding-top: 7.3rem;
    padding-bottom: 11rem;

    &__circle {
      left: -34.3rem;
      top: auto;
      bottom: -25.8rem;

      &_purple {
        right: -57rem;
        top: 37.6rem;
      }
    }

    &-video {
      &__list {
        margin: -1.1rem;
      }

      &__item {
        padding: 1.1rem;
      }

      &__link {
        height: 15.4rem;
      }
    }
  }
}

@media only screen and (max-width: $small-mobile) {
  .main-materials {
    padding-top: 6.5rem;

    &__circle {
      &_left {
        top: 250.6rem;
        left: auto;
        right: -57.1rem;

        &_purple {
          display: none;
        }
      }

      &_right {
        &_purple {
          left: 33.1rem;
          top: 34.0rem;
        }
      }
    }

    &-text {
      padding: 0;
      max-width: 100%;
      margin-top: 3.2rem;

      &__texts {
        margin: auto;
      }

      &__title {
        max-width: 29.2rem;
        text-align: center;
      }

      &__caption {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3.8rem;
      }

      &__btn {
        margin: auto;
      }
    }

    &__img {
      width: 37.8rem;
      height: 47.1rem;
      margin: auto;
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &_big {
        width: 32.4rem;
        height: 47.7rem;
        left: 2.6rem;
      }

      &_back {
        height: 37.8rem;
        bottom: 0;
      }
    }
  }

  .materials {
    padding-top: 8.6rem;
    padding-bottom: 5.8rem;

    &__circle {
      bottom: 34.8rem;

      &_purple {
        right: -62.6rem;
        top: 39.5rem;
      }
    }

    &-accordion {
      border: none;

      &__list {
        margin-top: 2.9rem;
      }

      &__head {
        padding: 2.9rem 0;
      }

      &__subtitle {
        font-size: 2.4rem;
        line-height: 3.1rem;
        margin-bottom: 1.5rem;
      }

      &__text {
        max-width: 24rem;
      }

      &__svg {
        height: 1.7rem;
        width: 1.1rem;
      }

      &__body {
        padding-top: 1.2rem;
        padding-bottom: 4.7rem;
      }
    }

    &-video {
      &__list {
        grid-template-columns: 1fr;
        margin: 0;
      }

      &__item {
        padding: 0;
        margin-bottom: 3.8rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__link {
        height: 15.4rem;
      }
    }
  }
}

@media only screen and (max-width: $tiny-mobile) {
  .main-materials {
    padding-top: 5rem;

    &__circle {
      &_left {
        top: 123.6rem;
        left: auto;
        right: -42.7rem;
        width: 63.8rem;
        height: 63.8rem;
      }

      &_right {
        width: 63.8rem;
        height: 63.8rem;
        left: 18.9rem;
        top: -22.9rem;

        &_purple {
          width: 39.5rem;
          height: 39.5rem;
          left: 24.7rem;
          top: 25.4rem;

        }
      }
    }

    &-text {
      margin-top: 2.4rem;

      &__title {
        max-width: 21rem;
      }

      &__caption {
        margin-top: 1.5rem;
        margin-bottom: 1.8rem;
      }
    }

    &__img {
      width: 28.8rem;
      height: 35.9rem;

      &_big {
        width: 24.7rem;
        height: 36.3rem;
        left: 2rem;
      }

      &_back {
        height: 28.8rem;
        bottom: 0;
      }
    }
  }

  .materials {
    padding-top: 8.4rem;
    padding-bottom: 5.1rem;

    &__circle {
      bottom: 31.2rem;
      left: -25.6rem;
      width: 40rem;
      height: 40rem;
      &_purple {
        width: 63.8rem;
        height: 63.8rem;
        right: -46.8rem;
        top: 28.6rem;
      }
    }

    &-accordion {
      &__list {
        margin-top: 2.7rem;
      }

      &__head {
        padding: 1.9rem 0;
      }

      &__subtitle {
        font-size: 1.8rem;
        line-height: 2.3rem;
        margin-bottom: 1.3rem;
      }

      &__text {
        max-width: 18.6rem;
      }

      &__svg {
        height: 1.2rem;
        width: .8rem;
      }

      &__body {
        padding-top: 1.8rem;
        padding-bottom: 4rem;
      }
    }

    &-video {

      &__item {
        padding: 0;
        margin-bottom: 2.8rem;
      }

      &__link {
        height: 14.3rem;
      }
    }
  }
}