.form {
  padding: 4rem 5rem 4.9rem;

  &__title {
    max-width: 49.6rem;
    &_max-width {
      max-width: 100%;
    }
  }

  &__caption {
    margin-top: 1.8rem;
    margin-bottom: 3.2rem;
  }

  &__group {
    margin-bottom: 2.1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    margin: 4.6rem auto 0;
  }
}

.response {
  &__block {
    text-align: center;
    padding: 6.8rem 3rem;
  }

  &__caption {
    margin-top: 1.3rem;
    margin-bottom: 8.3rem;
  }
  &__btn {
    margin: 0 auto;
  }
}